### Descripcion

### Estructurando la informacion

In [3]:
import pandas as pd
import numpy as np

In [4]:
#lectura de excel
vtg = pd.read_excel("C:\\Users\\puert\\OneDrive\\Escritorio\\NOVAtos-20231\\datos\\crudo\\vtg.xlsx")

In [5]:
vtg.sample(1)

,ID,Hora de inicio,Hora de finalización,Correo electrónico,Nombre,Nombres y apellidos,Correo institucional,Pregrado,Semestre en curso,¿Cuál de los siguientes departamentos llama tu atención?,Horario charlas informativas,Nombre de quién te registró,¿Tienes alguna duda o inquietud? ¡Háznosla saber!
22,23,2023-01-31 10:52:23,2023-01-31 10:53:55,anonymous,NaN,Sara Lopez Vinasco,slopezv18,In​geniería Civil,1,Aún no me decido;,Viernes 03 Feb de 2PM - 3PM | Presencial,SAMUEL LOPERA,NaN

In [6]:
vtg = vtg.convert_dtypes() #convertir tipos de datos a mejores

In [7]:
vtg.columns

Index(['ID', 'Hora de inicio', 'Hora de finalización', 'Correo electrónico',
       'Nombre', 'Nombres y apellidos', 'Correo institucional ', 'Pregrado',
       'Semestre en curso',
       '¿Cuál de los siguientes departamentos llama tu atención?',
       'Horario charlas informativas', 'Nombre de quién te registró',
       '¿Tienes alguna duda o inquietud? ¡Háznosla saber!'],
      dtype='object')

In [8]:
vtg

,ID,Hora de inicio,Hora de finalización,Correo electrónico,Nombre,Nombres y apellidos,Correo institucional,Pregrado,Semestre en curso,¿Cuál de los siguientes departamentos llama tu atención?,Horario charlas informativas,Nombre de quién te registró,¿Tienes alguna duda o inquietud? ¡Háznosla saber!
0,1,2023-01-31 09:15:46,2023-01-31 09:17:52,anonymous,<NA>,Sahara Sánchez Ramírez,ssanchezr4@eafit.edu.co,Negocios Internacionales,1,Aún no me decido;,Sábado 04 Feb de 9AM - 10AM | Virtual,Alejandro Restrepo,<NA>
1,2,2023-01-31 09:15:35,2023-01-31 09:17:53,anonymous,<NA>,Ana Sofía Ramírez Aristizábal,asramireza@eafit.edu.co,Negocios Internacionales,1,Aún no me decido;,Sábado 04 Feb de 9AM - 10AM | Virtual,Alejandro Restrepo,<NA>
2,3,2023-01-31 09:22:35,2023-01-31 09:52:04,anonymous,<NA>,Jose Migel Tobo,jmtoboy@eafit.edu.co,Administración de Negocios,4,Mercadeo;Relaciones Públicas;,Viernes 03 Feb de 2PM - 3PM | Presencial,SAMUEL LOPERA TORRES,<NA>
3,4,2023-01-31 09:26:26,2023-01-31 09:53:04,anonymous,<NA>,Nicolas Ramirez Acosta,nramireza@eafit.edu.co,Diseño Interactivo,3,Communities;,Viernes 03 Feb de 2PM - 3PM | Presencial,Alejandro Restrepo,<NA>
4,5,2023-01-31 09:52:28,2023-01-31 09:58:59,anonymous,<NA>,Brayan Restrepo Gallo,bcrestrepg@eafit.edu.co,Geología,9,Communities;,Sábado 04 Feb de 9AM - 10AM | Virtual,SAMUEL LOPERA TORRES,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,247,2023-02-02 15:51:15,2023-02-02 15:51:57,anonymous,<NA>,Julián Armando Calero Castaño,jacaleroc@eafit.edu.co,Geología,8,Communities;Mercadeo;Relaciones Públicas;,Sábado 04 Feb de 9AM - 10AM | Virtual,QR Insta,<NA>
247,248,2023-02-02 09:32:54,2023-02-02 15:55:24,anonymous,<NA>,CEYNI Beltran,cpbeltranh@eafit.edu.co,Ingeniería de Sistemas,5,Communities;,Sábado 04 Feb de 9AM - 10AM | Virtual,Alverth Antonio de La Barrera,<NA>
248,249,2023-02-02 15:55:12,2023-02-02 15:56:33,anonymous,<NA>,Santiago Giraldo,sgiraldog4@eafit.edu.co,Diseño Interactivo,3,Mercadeo;Gestión Humana;Relaciones Públicas;,Viernes 03 Feb de 4PM - 5PM | Presencial,<NA>,<NA>
249,250,2023-02-02 15:55:48,2023-02-02 15:58:11,anonymous,<NA>,Simon alverez lopez,salvarezl3@eafit.edu.co,In​geniería Civil,3,Gestión Humana;,Viernes 03 Feb de 4PM - 5PM | Presencial,SANTIAGO ROZO,<NA>
250,251,2023-02-02 15:58:14,2023-02-02 16:00:18,anonymous,<NA>,Felipe otero,Foterog@eafit.edu.co,Diseño Interactivo,3,Mercadeo;Gestión Humana;Relaciones Públicas;,Sábado 04 Feb de 9AM - 10AM | Virtual,<NA>,<NA>

In [9]:
#renombramiento de todas las columnas
vtg.columns = ['ID', 'Hora de inicio', 'Hora de finalización', 'Correo electrónico',
       'Nombre', 'Nombres y apellidos', 'Correo institucional', 'Pregrado',
       'Semestre en curso',
       '¿Cuál de los siguientes departamentos llama tu atención?',
       'Horario charlas informativas', 'Nombre de quién te registró',
       '¿Tienes alguna duda o inquietud? ¡Háznosla saber!']

In [10]:
#slicing de DataFrame para conservar la informacion mas relevante
vtg = vtg[["Correo institucional", "Nombres y apellidos", "Pregrado", "Semestre en curso", 
           "¿Cuál de los siguientes departamentos llama tu atención?"]]

#cambio nombre de las columnas
vtg.columns = ["Correo", "Nombre", "Carrera", "Semestre", "Departamentos"]

In [11]:
#inicializo columnas de opciones de departamentos con ceros
lista_ceros = np.zeros(len(vtg["Departamentos"]))
for i in ["Depto 1", "Depto 2", "Depto 3"]:
    vtg[i] = lista_ceros

C:\Users\puert\AppData\Local\Temp\ipykernel_1148\1511761356.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vtg[i] = lista_ceros
C:\Users\puert\AppData\Local\Temp\ipykernel_1148\1511761356.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vtg[i] = lista_ceros
C:\Users\puert\AppData\Local\Temp\ipykernel_1148\1511761356.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vtg[i] = lista_ceros

In [12]:
#creo funcion para creacion de columnas con departamentos posibles de pertenencia
def add_departamentos(departamentos:str, row: int) -> None:
    list_departamentos = departamentos.split(";")[:-1] #elimino ultima posicion ya que siempre es un espacio
    list_departamentos = sorted(list_departamentos) #ordeno la lista alfabeticamente
    if len(list_departamentos) == 1:
        vtg.loc[row,"Depto 1"] = list_departamentos[0]
        vtg.loc[row,"Depto 2"] = np.NAN
        vtg.loc[row,"Depto 3"] = np.NAN
    elif len(list_departamentos) == 2:
        vtg.loc[row,"Depto 1"] = list_departamentos[0]
        vtg.loc[row,"Depto 2"] = list_departamentos[1]
        vtg.loc[row,"Depto 3"] = np.NAN
    elif len(list_departamentos) == 3:
        vtg.loc[row,"Depto 1"] = list_departamentos[0]
        vtg.loc[row,"Depto 2"] = list_departamentos[1]
        vtg.loc[row,"Depto 3"] = list_departamentos[2]

In [13]:
#creando columnas con departamentos posibles de pertenencia
posibles_departamentos = vtg["Departamentos"]
for i in range(0, len(posibles_departamentos)):
    add_departamentos(posibles_departamentos[i], row= i)

In [14]:
#elimino columna de deparatamentos
vtg = vtg.drop(columns=["Departamentos"])

In [15]:
#vistazo final a la informacion
vtg.sample(5)

,Correo,Nombre,Carrera,Semestre,Depto 1,Depto 2,Depto 3
25,jdquirogam@eafit.edu.co,Juan David Quiroga,Ingeniería de Sistemas,1,Communities,NaN,NaN
156,hjgonzalep@eafit.edu.co,Howen José Gonzalez Palacio,Ingeniería Matemática,2,Communities,NaN,NaN
130,mgarciac10@eafit.edu.co,Mateo Garcia Carreño,Ingeniería de Sistemas,1,Aún no me decido,Communities,Relaciones Públicas
15,Muneraj1@eafit.edu.co,Nicolas Munera,Diseño Interactivo,1,Communities,NaN,NaN
225,fagallegog@eafit.edu.co,Faber Gallego Gómez,Ingeniería de Sistemas,1,Gestión Humana,NaN,NaN

### Exportar a CSV la informacion estructurada

In [55]:
vtg.to_csv("C:\\Users\\puert\\OneDrive\\Escritorio\\NOVAtos-20231\\datos\\limpio\\vtg_clean.csv")

### Analizando la informacion

In [43]:
def obtener_porcentajes(dataframe:pd.DataFrame, columna: str, sort:str=None) -> pd.DataFrame:
    assert columna in dataframe.columns, f"{columna} no es una columna del dataframe"
    porcentajes = dataframe[columna].value_counts().sort_index().to_frame()
    porcentajes = porcentajes.reset_index()
    porcentajes.columns = ["Semestre", "Numero Personas"]
    if sort is not None:
        porcentajes = porcentajes.sort_values(by=sort, ascending=False)
    porcentajes["Porcentajes"] = round((porcentajes["Numero Personas"] / sum(porcentajes["Numero Personas"])),3)*100
    porcentajes["Acumulado Porcentajes"] = porcentajes["Porcentajes"].cumsum()
    return porcentajes

Communities

In [18]:
communities = vtg[(vtg["Depto 1"] == "Communities") | (vtg["Depto 2"] == "Communities")]

In [34]:
communities.sample(1)

,Correo,Nombre,Carrera,Semestre,Depto 1,Depto 2,Depto 3
114,smancom@eafit.edu.co,Santiago Manco Maya,Ingeniería de Sistemas,1,Communities,NaN,NaN

In [33]:
semestres = obtener_porcentajes(communities, "Semestre")
semestres["Acumulado Personas"] = semestres["Numero Personas"].cumsum() #saco acumulado de personas
semestres

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes,Acumulado Personas
0,1,23,16.4,16.4,23
1,2,20,14.3,30.7,43
2,3,26,18.6,49.3,69
3,4,19,13.6,62.9,88
4,5,24,17.1,80.0,112
5,6,11,7.9,87.9,123
6,7,5,3.6,91.5,128
7,8,3,2.1,93.6,131
8,9,8,5.7,99.3,139
9,10,1,0.7,100.0,140

In [44]:
carreras = obtener_porcentajes(communities, "Carrera", sort = "Numero Personas")
carreras

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes
11,Ingeniería de Sistemas,71,50.7,50.7
8,Ingeniería Física,12,8.6,59.3
4,Diseño Interactivo,11,7.9,67.2
9,Ingeniería Matemática,8,5.7,72.9
16,​Ingeniería Mecánica,8,5.7,78.6
2,Comunicación Social,6,4.3,82.9
6,Geología,4,2.9,85.8
7,Ingeniería Agronómica,4,2.9,88.7
1,Biología,3,2.1,90.8
15,Negocios Internacionales,3,2.1,92.9
0,Administración de Negocios,3,2.1,95.0
10,Ingeniería de Diseño de Producto,2,1.4,96.4
5,Economía,1,0.7,97.1
3,Derecho,1,0.7,97.8
12,In​geniería Civil,1,0.7,98.5
13,Literatura,1,0.7,99.2
14,Mercadeo,1,0.7,99.9

Mercadeo

In [45]:
mercadeo = vtg[(vtg["Depto 1"] == "Mercadeo") | (vtg["Depto 2"] == "Mercadeo") | (vtg["Depto 3"] == "Mercadeo")]

In [46]:
semestres = obtener_porcentajes(mercadeo, "Semestre")
semestres["Acumulado Personas"] = semestres["Numero Personas"].cumsum() #saco acumulado de personas
semestres

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes,Acumulado Personas
0,1,4,7.5,7.5,4
1,2,2,3.8,11.3,6
2,3,15,28.3,39.6,21
3,4,9,17.0,56.6,30
4,5,12,22.6,79.2,42
5,6,3,5.7,84.9,45
6,7,4,7.5,92.4,49
7,8,2,3.8,96.2,51
8,9,1,1.9,98.1,52
9,10,1,1.9,100.0,53

In [47]:
carreras = obtener_porcentajes(mercadeo, "Carrera", sort = "Numero Personas")
carreras

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes
9,Ingeniería de Sistemas,13,24.5,24.5
11,Mercadeo,8,15.1,39.6
0,Administración de Negocios,6,11.3,50.9
3,Diseño Interactivo,5,9.4,60.3
12,Negocios Internacionales,5,9.4,69.7
2,Comunicación Social,4,7.5,77.2
4,Finanzas,2,3.8,81.0
5,Geología,2,3.8,84.8
6,Ingeniería Física,2,3.8,88.6
7,Ingeniería Matemática,2,3.8,92.4
10,In​geniería Civil,2,3.8,96.2
1,Biología,1,1.9,98.1
8,Ingeniería de Diseño de Producto,1,1.9,100.0

GH

In [48]:
gh = vtg[(vtg["Depto 1"] == "Gestión Humana") | (vtg["Depto 2"] == "Gestión Humana") | (vtg["Depto 3"] == "Gestión Humana")]

In [50]:
semestres = obtener_porcentajes(gh, "Semestre")
semestres["Acumulado Personas"] = semestres["Numero Personas"].cumsum() #saco acumulado de personas
semestres

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes,Acumulado Personas
0,1,3,5.4,5.4,3
1,2,6,10.7,16.1,9
2,3,15,26.8,42.9,24
3,4,9,16.1,59.0,33
4,5,13,23.2,82.2,46
5,6,4,7.1,89.3,50
6,7,6,10.7,100.0,56

In [49]:
carreras = obtener_porcentajes(gh, "Carrera", sort = "Numero Personas")
carreras

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes
8,Ingeniería de Sistemas,18,32.1,32.1
4,Diseño Interactivo,10,17.9,50.0
7,Ingeniería Matemática,4,7.1,57.1
9,In​geniería Civil,4,7.1,64.2
0,Administración de Negocios,3,5.4,69.6
2,Comunicación Social,3,5.4,75.0
6,Ingeniería Física,3,5.4,80.4
10,Mercadeo,3,5.4,85.8
11,Negocios Internacionales,3,5.4,91.2
3,Derecho,2,3.6,94.8
1,Biología,1,1.8,96.6
5,Ingeniería Agronómica,1,1.8,98.4
12,​Ingeniería Mecánica,1,1.8,100.2

No deciden

In [52]:
no_decido = vtg[vtg["Depto 1"] == "Aún no me decido"]

In [53]:
semestres = obtener_porcentajes(no_decido, "Semestre")
semestres["Acumulado Personas"] = semestres["Numero Personas"].cumsum() #saco acumulado de personas
semestres

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes,Acumulado Personas
0,1,20,31.7,31.7,20
1,2,1,1.6,33.3,21
2,3,14,22.2,55.5,35
3,4,5,7.9,63.4,40
4,5,13,20.6,84.0,53
5,6,5,7.9,91.9,58
6,7,3,4.8,96.7,61
7,8,1,1.6,98.3,62
8,9,1,1.6,99.9,63

In [54]:
carreras = obtener_porcentajes(no_decido, "Carrera", sort = "Numero Personas")
carreras

,Semestre,Numero Personas,Porcentajes,Acumulado Porcentajes
11,Ingeniería de Sistemas,20,31.7,31.7
0,Administración de Negocios,7,11.1,42.8
8,Ingeniería Matemática,5,7.9,50.7
3,Diseño Interactivo,4,6.3,57.0
7,Ingeniería Física,4,6.3,63.3
12,In​geniería Civil,4,6.3,69.6
1,Comunicación Social,3,4.8,74.4
2,Derecho,3,4.8,79.2
15,Negocios Internacionales,3,4.8,84.0
6,Ingeniería Agronómica,2,3.2,87.2
14,Mercadeo,2,3.2,90.4
4,Economía,1,1.6,92.0
5,Geología,1,1.6,93.6
9,Ingeniería de Diseño de Producto,1,1.6,95.2
10,Ingeniería de Producción,1,1.6,96.8
13,Literatura,1,1.6,98.4
16,​Ingeniería Mecánica,1,1.6,100.0